.articleCard {
  --shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  scroll-margin-top: calc(60px + 1rem);
  background: white;
  max-width: 700px;

  border-radius: 10px;
  box-shadow: var(--shadow);

  h2 {
    margin: 1.5rem 1rem 0rem 1rem;
  }
}
@media (max-width: 768px) {
  .articleCard {
    border-radius: 0;
  }
}

.heroImage {
  max-height: 400px;
  overflow: hidden;       /* Hides overflow */
  position: relative;     /* Helps positioning if needed */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* display: block; */
    border-radius: 10px 10px 0 0;

    &.medium-zoom--open {
      /* Expand when zoomed */
      border-radius: 0;
      object-fit: initial;
    }
  }
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .heroImage {
    img {
      border-radius: 0;
    }
  }
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* spacing between items */
  /* justify-content: space-between; */

  img {
    max-height: 150px;
    object-fit: cover;

    &.medium-zoom--open {
      max-height: 100%;
      object-fit: initial;
    }
  }
}
@media (max-width: 768px) {
  .gallery {
    img {
      max-height: 80px;
    }
  }
}

.author {
  color: #555;
  font-size: 0.8rem;

  padding: 0 1rem;
}

.lead {
  background: rgba(100, 0, 200, 0.1);
  color: rgba(00, 0, 100, 0.6);
  font-weight: 600;

  padding: 1rem 1rem;
  margin: 1rem 0;
}

.body {
  padding: 0 1rem;

  p {
    margin-bottom: 0.5rem;
  }

  margin-bottom: 1rem;

  /* hack for the dates */
  ul li span:first-child {
    font-weight: 600;
    min-width: 2.5rem;
    display: inline-block;
  }
  ul li span:last-child {
    font-size: 0.8rem;
    opacity: 0.8;
  }
}
